/****************************************************
    colors overrides
****************************************************/
$secondary: #515960;
$link-decoration: none;

$nav-link-color: rgb(0, 0, 0, 0.55);
$nav-link-hover-color: rgb(0, 0, 0, .7);

/****************************************************
    Dark colors
****************************************************/
$dark-color: #f8f9fa;
$dark-secondary: #c9c0c0;
$dark-background: #1c1e21;
$dark-background-highlight: rgb(255, 255, 255, 0.15);
$dark-background-hover: rgb(255, 255, 255, 0.08);
$dark-borders: #777373;
$dark-link: #9bccff;

$navbar-padding-y: 1.25rem;

@import "../../../components/theme/breakpoints";

// Sinequa global theme (contains Bootstrap imports)
// @import "../../../components/theme/minimal";
@import "../../../components/theme/sinequa";

// File formats & metadata icons
@import "icons";

// SBA components custom CSS overrides
@import "vanilla";

.timeline-all-tab {
    svg {
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right:1rem;
    }
    .tooltip-item{
        max-width:25rem !important;
    }
    .text-truncate {
        white-space: normal!important;
    }
    .x.axis {
        text {
            fill: black !important;
            font-size: 1.5rem;
        }
    }
    .y.axis {
        text {
            fill: black !important;
            font-size: 1.1rem;
        }
    }
    text.tooltip-text,
    text.grip-text {
        font-size: 1.5rem !important;
        fill: black !important;
    }
}
